<% provide(:title, t(".home_title_name") ) %>
<div class="jumbotron">
  <div class="center jumbotron">
  <h1><%= t(".home_title") %></h1>
  <h2>
    <%= t(".home_content") %>
    <a href="http://www.railstutorial.org/"><%= t(".home_link1") %></a>
  </h2>
</div>
