<% @authors.each_with_index do |author, index| %>
  <tr>
    <td class="text-center">
      <% params[:page] ||= Settings.authors.params_page %>
      <%= index_continue params[:page], index, Settings.authors.per_page %>
    </td>
    <td><%= author.name %></td>
    <td class="text-center">
      <%= link_to edit_admin_author_path(author), title: t(".edit"),
        class: "btn-edit-author btn btn-warning" do %>
        <span class="glyphicon glyphicon-edit"></span>
      <% end %>
    </td>
    <td class="text-center">
      <%= link_to admin_author_path(author), title: t(".delete"),
        method: :delete,
        data: {confirm: t(".are_you_sure")}, class: "btn btn-danger" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %>
    </td>
  </tr>
<% end %>
