<div id="modal_create_user" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">&times;
        </button>
        <h4 class="modal-title"><%= t ".create_user" %></h4>
      </div>
      <div class="modal-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
